html
    head
        title Hello World - Approval
        include styles
    body
        div(hidden)#transaction-id= id

        include navbar
        h1= message
        // Modal Body
        .modal-body
            h2 Approval Phase
            p Approve the sending of your message.

        .container
            .justify-content-center.d-flex
                div#qr

            .justify-content-center.d-flex
                include extension.html



    script(src="assets/js/carmentis-web-sdk.min.js")
    script(src="assets/js/carmentis-debug-app.min.js")
    script(src="assets/js/message-approval.js")