html
    head
        title Hello World - Home
        include styles
    body

        include navbar

        #messageForm.container
            form(role='form' method='POST' action='/submitMessage')
                .row
                    .col-6
                        div.form-group
                            label(for='name') Sender:
                            input#name.form-control(type='text', placeholder='Sender' name='sender' required)
                    .col-6
                        div.form-group
                            label(for='message') Message:
                            input#message.form-control(type="message", placeholder='Message' name='message' required)
                .row
                    .col
                        button.btn(type="submit", name="asdf") Submit

        .container
            h2 Messages
            each msg in messages
                .message
                    .row
                            span= msg.message
                    .row.justify-content-between.d-flex
                        .col.sender
                            span= msg.sender
                        .col.date.justify-content-end.d-flex
                            span= msg.date
