html
    head
        title Hello World - Home
        include styles
    body

        include navbar

        .container.mt-3
            .row.d-flex
                .col-3#messageForm
                    div
                                h2 Your Message

                                div.form-group
                                    label(for='sender') Sender
                                    input#sender.form-control(type='text', placeholder='Sender' name='sender' required)

                                div.form-group
                                    label(for='message') Message
                                    input#message.form-control(type="message", placeholder='Message' name='message' required)

                                button#submit.btn.mt-3.w-100 Submit

                .col-8
                    .row.d-flex
                        h2.d-flex.flex-row Posted Messages
                            a#blockExplorer(href="https://data.testapps.carmentis.io/explorer" target="#blank")
                                span Block Explorer
                                svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16")
                                    path(fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5")
                                    path(fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z")


                    each msg in messages
                        .message
                            .row
                                    span= msg.message
                            .row.justify-content-between.d-flex
                                .col.sender
                                    span= msg.sender
                                .col.date.justify-content-end.d-flex
                                    span= msg.date

    include scripts