html
    head
        title Hello World - Success
        include styles
    body
        include navbar

        .container
            h2 Success

            p Your message has been approved by the operator and integrated in the system.
            a(href="/")
                button.btn.btn-info Back to Home

