html
    head
        title= title
    body
        h1= message
        // Modal Body
        .modal-body
            h1 C'est fait !

    script(src="assets/js/carmentis-debug-app.min.js")
    script(src="assets/js/carmentis-nodejs-sdk.js")
        script(src="assets/js/first-app.js")