#messageForm {
    background-color: #06b57b;
    padding: 10px;
    color: white;
}

#messageForm button {
    background-color: white;
}


#blockExplorer {
    background-color: #606060;
    color: white;
    border-radius: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
}
#blockExplorer span {
    font-size: 15px;
    margin-right: 10px;
}

.message {
    margin-bottom: 5px;
    border-left: 5px solid #06b57b;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
}

.sender, .date {
    color: rgb(98, 96, 96);
}


#wallet.found, #operator.found {
    background-color: #06b57b;
    color: white;
}

#wallet.missing, #operator.missing {
    background-color: #b50620;
    color: white;
}